.App {
  text-align: center;
}

.App-header {
  height: 50px;
  padding: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content-box{
  width: 50em;
}

.content-box > #logo-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-box > #logo-box > * {
  margin-left: 0.5em;
  color: #158cba;
}

.loading-box {
  width: 30em;
  height: 4em;
  display: flex;
  background: white;
  border: solid 1px;
  border-color: #158cba;
  border-radius: 1em;
  color: #158cba;
  flex-direction: row;
  justify-content: center;
  margin-left: 11em;
  padding-top: 1em;
}

.loading-box > h3 {
  margin-top: 0.6em;
  margin-left: 2em;
}

.download-box{
  background: white;
}


form > input[type="text"] {
  width: 40em;
  height: 30px;
  border-radius: 3px;
  border: 1px;
  border-style: solid;
  border-color: #dedede;
  box-shadow: gray;
  padding-left: 20px;
}

.button-box > button{
  margin-top: 20px;
  margin-left: 10px;
  background-color: #158cba;
  border-radius: 1em;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.button-box > button:hover{
  background-color: #178fbc;
  opacity:0.8;
}